@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark: rgba(48, 48, 48, 0.5);
  --darker: #0b0c0d;
  --content: rgb(233, 231, 216);
}

body {
  margin: 0;
  background-color: var(--darker);
}

.nav-links {
    list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: var(--content);
  font-family: poppins, sans-serif;
}

#logo {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
}

#logo a {
    text-decoration: none;
    text-align: end;
    color: var(--content);
    font-family: 'Bebas Neue', sans-serif;
}

/* semantically correct "br" for logo design */
.line {
    display: block;
}

/* navbar for mobile (default) */

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  position: relative;
}

.navburger {
  font-size: 72px;
  color: var(--content);
  cursor: pointer;
  margin-top: 1%;
  margin-left: 1rem;
}

/* styling the appearing menu for mobile */

.menu {
  display: none;
  flex-direction: column;
  background-color: var(--dark);
  position: absolute;
  top: 100%;
  left: 0;
  width: 72%;
  margin: 0 14%;
  padding: 0;
  list-style: none;
}

.menu li {
  border-top: 1px solid var(--darker);
  transition: max-height 0.3s ease;
  overflow: hidden;
  text-align: center;
}

.menu li a {
  display: block;
  padding: 12px;
}

.menu li a:hover {
  background-color: rgba(233, 231, 216, 0.5)
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  display: flex;
}

/* mobile-first, meaning we hide the pc-navbar by default */
.navbar-desktop {
  display: none;
}

/* media queries */

/* medium devices (768px and up) */
@media screen and (min-width: 768px) {
  #logo {
    right: 2rem;
  }
}

/* large devices (992px and up) */
@media screen and (min-width: 992px) {

  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    display: block;
  }

  .navbar-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
  }

  .nav-links {
    display: flex;
    gap: 200px;
    margin: 0;
    padding: 0;
  }

  .nav-links li a {
    position: relative;
  }

/* sick hover effect for my li's because this is definately what I should be focusing on */
  .nav-links li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: var(--content);
      transform: scaleX(0);
      transform-origin: middle;
      transition: transform 0.3s ease;
  }

  .nav-links li a:hover::after {
      transform: scaleX(1);
  }

  #logo a:hover {
      color: var(--darker);
      transition-duration: 5s;
  }

  #logo {
      right: 4rem;
    }
  }

/* xl devices (1200px and up) */
@media screen and (min-width: 1200px) {
  #logo {
    right: 6rem;
  }
}

/* xxl devices (1400px and up) */
@media screen and (min-width: 1400px) {
  #logo {
    right: 10rem;
  }
}
